<div id="wrapper_div">
  <app-filtro-livros [allLivros]="allLivros"
                     (onSearch)="filtrarLivros($event)">
  </app-filtro-livros>

  <div id="list_container">
    <div *ngIf="hasNoBooks">
      <h2>Nenhum livro encontrado</h2>
    </div>

    <div *ngFor="let livro of livrosFiltrados;index as i" class="book_div">
      <p><b>Titulo: </b>{{livro.titulo}}</p>
      <p><b>Autor: </b>{{livro.autor}}</p>
      <p><b>Data de Publicação: </b> {{livro.dataPublicacao | date: "dd/MM/yyyy"}}</p>
      <p><b>Cópias: </b>{{livro.copias}}</p>
      <p *ngIf="livro.generos.length > 0"><b>Gêneros:</b>
        <span *ngFor="let genero of livro.generos; index as i">
          {{genero.nome}}<span *ngIf="i < livro.generos.length - 1" >,</span>
        </span>
      </p>

      <button (click)="goToSalvarPage(livro.id)" class="button_update">Atualizar</button>
      <button (click)="deleteLivro(livro.id, i)" class="button_delete">Deletar</button>
    </div>
  </div>

</div>
