<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Livro</h2>

  <div>
    <label class="block">Titulo</label>
    <input type="text" formControlName="titulo" required/>
  </div>

  <div>
    <label class="block">Autor</label>
    <input type="text" class="form-control form-control" formControlName="autor" required />
  </div>

  <div>
    <label class="block">Data de Publicação</label>
    <input type="date" class="form-control form-control" formControlName="dataPublicacao" required />
  </div>

  <div>
    <label class="block">Copias</label>
    <input type="number" class="form-control form-control" formControlName="copias" required />
  </div>

  <div formArrayName="generos">
    <h2>Gêneros</h2>

    <div *ngFor="let genero of generos.controls; let i=index" [formGroupName]="i">
      <label>Gênero {{i+1}}:</label>
      <input type="text" formControlName="nome">
      <button (click)="removeGenero(i)">X</button>
    </div>

    <button type="button" (click)="addGenero()">+ Adicionar gênero</button>
  </div>


  <br>
  <button type="submit">Salvar</button>
</form>

