<div>
<form [formGroup]="queryForm">
    <h3>Filtrar por</h3>
    <label class="block title">Título</label>
    <input type="text" formControlName="titulo">
    <label class="block title">Autor</label>
    <input type="text" formControlName="autor">

    <br><br>

    <label class="block title">Generos</label>

    <cdk-virtual-scroll-viewport itemSize="10">
        <span *cdkVirtualFor="let genero of generos" class="block">
            <label>{{genero.nome}}</label>
            <input type="checkbox" (change)="checkGenero(genero, check.checked)" #check>
        </span>
    </cdk-virtual-scroll-viewport>

    <br>
    <section>
        <b>Lançado entre:</b>
        <label class="block title">Data Inicial</label>
        <input type="date" formControlName="dataInicial">
        <label class="block title">Data Final</label>
        <input type="date" formControlName="dataFinal">
    </section>

    <label class="title">Cópias Disponiveis?</label>
    <input type="checkbox" formControlName="areThereCopies">

    <br><br>
    <button (click)="buscarLivro()" class="block">Buscar</button>
    <button (click)="limparFiltros()">Limpar filtros</button>
</form>
</div>
