<div>
<form  [formGroup]="queryForm">
    <h3>Filtrar por</h3>
    <label class="block">Título</label>
    <input type="text" formControlName="titulo">
    <label class="block">Autor</label>
    <input type="text" formControlName="autor">

    <label class="block">Generos</label>
    <select>
        <option *ngFor="let genero of generos">{{genero.nome}}</option>
    </select>

    <br><br>
    <section>
        <b>Lançado entre</b>
        <label class="block">Data Inicial</label>
        <input type="date" formControlName="dataInicial">
        <label class="block">Data Final</label>
        <input type="date" formControlName="dataFinal">
    </section>

    <label>Cópias Disponiveis?</label>
    <input type="checkbox" formControlName="areThereCopies">

    <br><br>
    <button (click)="buscarLivro()"  class="block">Buscar</button>
    <button (click)="limparFiltros()">Limpar filtros</button>
</form>
</div>
